

<main class="todo-main">
  <div class="todo-container">
    <input type="text" name="" id="" [(ngModel)]="newTask">
    <button (click)="addTask()">Add</button>
  </div>
  <div class="body-container">
    <ul *ngFor="let todoItem of todoList; let i=index " >
      <!-- <li>{{todoItem.id}} </li> -->
      <input type="checkbox" (change)="toggleTask(i)">
      <SPan>{{todoItem.task}}</SPan>

      <BUtton (click)="deleteTask(todoItem.id)">Delete</BUtton>
    </ul>
  </div>
</main>
<!-- <routing-outlet></routing-outlet> -->
